@import 'reset.css';
@import 'media.css';

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1195px;
    padding: 0 15px;
    margin: 0 auto;
}


/*Header*/

.header {
    margin: 0 auto;
    padding: 25px 0 50px 0;
}
.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__item {
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}
.header__item:hover {
    text-decoration: underline;
}
.header__link {
    font-weight: 600;
    font-size: 15px;
    color: #CB4E5D;
    text-decoration: none;
    padding: 13px 35px;
    border: 1px solid #CB4E5D;
    border-radius: 7px;
}
.header__link:hover {
    background-color: #C85263;
    transition: .2s;
    color: #fff;
}


/* Intro */


.intro {
   display: flex;
   justify-content: space-between;
}
.intro__text {
    max-width: 425px;
}
.intro__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 13px;
}
.intro__title span {
    color: #CB4E5D;
}
.intro__paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}

.intro__button {
    font-weight: 600;
    font-size: 15px;
    color: #CB4E5D;
    padding: 20px 65px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #CB4E5D;
}
.intro__button:hover {
    background-color: #C85263;
    color: #fff;
    transition: .2s;
}
.intro__image {
    margin-bottom: 85px;
    max-width: 750px;
}


/* Fond */


.fond__info {
    display: flex;
    
}
.fond__title.title{
    text-align: center;
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 64px;
}
.fond__title span {
    color: #CB4E5D;
}
.fond__paragrath {
    margin-left: 18px;
    font-weight: 500;
    font-size: 18px;
}
.fond__item-text {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 19px;
}