<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__item" href="../index.html"><img src="../images/icons/header-logo.png" alt="логотип"/></a>
          </li>
          <li><a class="header__item header__item_active" href="">О Нас</a></li>
          <li><a class="header__item" href="">Направления</a></li>
          <li><a class="header__item" href="">Команда</a></li>
          <li><a class="header__item" href="">История</a></li>
          <li><a class="header__item" href="">Контакты</a></li>
          <li><a class="header__link" href="">Хочу помочь</a></li>
        </ul>
      </nav>
    </header>
    <main class="content">
        <section class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a class="breadcrumb__list-item" href="../index.html">Главная</a></li>
                <li><a class="breadcrumb__list-item breadcrumb__list-item_active" href="#">О нас</a></li>
            </ul>
        </section>
    </main>
    <footer class="footer">
      <ul class="footer__inner">
        <li class="footer__item">
          <img src="../images/icons/footer-logo.png" alt="логотип" />
        </li>
        <li class="footer__item">
          <ul class="footer__list">
            <li><a class="footer__list-item" href="">О Нас</a></li>
            <li><a class="footer__list-item" href="">Направления</a></li>
            <li><a class="footer__list-item" href="">История</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <ul class="footer__list">
            <li><a class="footer__list-item" href="">Команда</a></li>
            <li><a class="footer__list-item" href="">Контакты</a></li>
            <li><a class="footer__list-item" href="">Помочь</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <ul class="footer__list">
            <li class="footer__social-item">
              <img
                class="footer__social-icon"
                src="../images/social-icons/footer-website.png"
                alt="сайт"
              />
              voblago.ru
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-icon"
                src="../images/social-icons/footer-mail.png"
                alt="почта"
              />
              work@voblago.ru
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-icon"
                src="../images/social-icons/footer-tel.png"
                alt="телефон"
              />
              +79990415794
            </li>
            <li class="footer__social-icons">
              <img
                src="../images/social-icons/footer-instagram.png"
                alt="инстаграм"
              />
              <img src="../images/social-icons/footer-vk.png" alt="вк" />
              <img
                src="../images/social-icons/footer-telegram.png"
                alt="телеграм"
              />
              <img
                src="../images/social-icons/footer-social.png"
                alt="социал"
              />
            </li>
          </ul>
        </li>
      </ul>
    </footer>
  </body>
</html>
